:root {
  --main-font: Quicksand;
}

/* Global styles */

body {
  font-family: var(--main-font), Arial, sans-serif;
}

nav {
  margin-bottom: 1rem;
}


/* layout styles */

.banner {
  height: 260px;
  margin-bottom: 2rem;
}









.category-sections {
  border-bottom: 1px solid gray;
  margin-bottom: 2rem;
}

.category-header {
  margin-top: 2rem;
  font-weight: bold;
  padding-bottom: 2rem;
}

.productpage-header+p {
  margin-bottom: 2rem;
}



/* Audio Products section styles*/

/* Need to structure css to include products other than audio as well */







/* Products styles */

.products-display {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: center;
}


.product {
  text-align: center;
  margin-bottom: 3.2rem;
}







.product-name {
  margin-bottom: 2.2rem;
}






.product-img {
  width: 210px;
  height: 400px;
  margin-bottom: 2rem;
  max-width: 100%;
  max-height: 180px;
  transition: transform .2s ease-in-out;
}





.product-img:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  border-radius: 2px;
  cursor: pointer;
}





.product-price {
  font-size: 1.3rem;
}











.productpage-header {
  margin-bottom: 2rem;
}

.see-more {
  visibility: hidden;
}

.dj-mixing,
.dj-shades {
  position: absolute;
  bottom: 0;
}

.dj-mixing {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 200px;
}

.dj-shades {
  height: 300px;
  right: -10px;
}

footer {
  text-align: center;
  color: white;
  background: gray;
  padding: 1.5rem;
}