.banner-computer {
  background: url(../img/products/computer_options.jpg);
  background-size: cover;
}

.banner-audio {
  background: url(../img/products/audio_setup.jpg);
  background-size: cover;
}


/* Global product page styles */

.caption {
  text-align: center;
}

.caption h1 {
  font-size: 2.25rem;
  line-height: 1.6;
  margin-bottom: 20px;
}

.caption h1,
.caption p {
  color: #fff;
}

.overshadow {
  margin: 0 -15px;
  background: black;
  opacity: .75;
  padding: 1rem 0 2rem;
  height: var(--mainpage-bannerheight);
}

.product-card .card-img-top {
  height: 215px;
}

.product-card .card-body {
  height: 170px;
}

.product .dropdown {
  margin: 1.3rem 0;
}


/* Single Product page styles */

.table-specs {
  margin: 0;
}

.product-full {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, minmax(150px, auto));
  grid-row-gap: 4rem;
}

.product-title,
.product-section--header {
  margin-bottom: 1.6rem;
}

.product-spotlight {
  grid-area: 1 / 1 / 2 / 2;
}

.product-spotlight img {
  border-radius: 2px;
}

.product-image {
  margin-bottom: 2rem;
}

.product-details {
  grid-area: 1 / 2 / 2 / 3;
}

.product-features ul {
  padding: 0;
  margin-bottom: 2rem;
}

.product-features li {
  margin-bottom: 1rem;
}

.product-specs {
  grid-area: 2 / 1 / 3 / 5;
}

.product-similar {
  grid-area: 3 / 1 / 4 / 5;
  margin-bottom: 3rem;
}

.product-similar div {
  display: flex;
  justify-content: space-around;
  margin: 2rem 0;
}

.review-ratings .stars {
  display: flex;
  flex-flow: flow wrap;
  justify-content: flex-start;
  margin-bottom: 1.2rem;
}

.review-ratings .rating-star {
  width: 35px;
  height: 35px;
  margin: 0 1rem 1rem 0;
}