.banner-computer {
  background: url(../img/products/computer_options.jpg);
  background-size: cover;
}

.banner-audio {
  background: url(../img/products/audio_setup.jpg);
  background-size: cover;
}


/* Global product page styles */

.caption {
  text-align: center;
}

.caption h1 {
  font-size: 2.25rem;
  line-height: 1.6;
  margin-bottom: 20px;
}

.caption h1,
.caption p {
  color: #fff;
}

.overshadow {
  margin: 0 -15px;
  background: black;
  opacity: .75;
  padding: 1rem 0 2rem;
}

.product-card .card-img-top {
  height: 215px;
}

.product-card .card-body {
  height: 170px;
}

.product .dropdown {
  margin: 1.3rem 0;
}


/* Single Product page styles */
.table-specs {
  margin: 0;
}