:root {
  --main-font: Quicksand;
}
body {
  font-family: var(--main-font), Arial, sans-serif;
}

.hero-section {
  height: 260px;
  margin-bottom: 2rem;
}

nav{
  margin-bottom: 1rem;
}

.hero-section {
  background: url(../img/products/tablet_06.jpg) no-repeat;
  background-size: 400px 100%;
}