:root {
  --main-font: Quicksand;
}

body {
  font-family: var(--main-font), Arial, sans-serif;
}

.hero-section,
.hero-section-audio {
  height: 260px;
  margin-bottom: 2rem;
}

nav {
  margin-bottom: 1rem;
}

.hero-section {
  background: url(../img/products/tablet_06.jpg) no-repeat;
  background-size: 400px 100%;
}

.productpage-header+p {
  margin-bottom: 2rem;
}


/* Audio Products section styles*/

.hero-section-audio {
  background: url(../img/products/club-back.jpg);
  position: relative;
  background-size: contain;
}

.audio-products_display {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: center;
}

.audio-product {
  text-align: center;
  margin-bottom: 3.2rem;
}

.audio-product .product-name {
  margin-bottom: 2.2rem;
}

.audio-product img {
  width: 210px;
  height: 400px;
  margin-bottom: 2rem;
  max-width: 100%;
  max-height: 180px;
  /* background: #fff; */
  transition: transform .2s ease-in-out;
}

.audio-product img:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  border-radius: 2px;
  cursor: pointer;
}

.audio-product .price {
  font-size: 1.3rem;
}

.dj-mixing,
.dj-shades {
  position: absolute;
  bottom: 0;
}

.dj-mixing {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 200px;
}

.dj-shades {
  height: 300px;
  right: -10px;
}