<!DOCTYPE html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<!-- Keywords and Description -->
	<meta name="keywords"
		content="Rack Busters, rackbusters, billiards, supplies, pool cues, pool cases, pool supplies, billiard supplies, gameroom, pool training, billiard training" />
	<meta name="description"
		content="Offering over 3,000 high quality Billiard and Gameroom Supplies from brands you trust" />
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="css/bootstrap.min.css" />
	<!-- FontAwesome -->
	<link rel="stylesheet" href="fa/css/all.min.css" />
	<!-- Custom CSS -->
	<link rel="stylesheet" href="css/style.css" />
	<!-- development version, includes helpful console warnings -->
	<script src="js/vue.js"></script>
	<script src="js/useful.js"></script>
	<title>Rack Busters | Billiard &amp; Game Room Supplies</title>

</head>

<body>
	<header>
		<!-- Navbar -->
		<div id="top-menu" class="nav-bar">
			<!-- Signup / Login -->
			<span id="user"><a href=""><i class="fas fa-user"></i></a></span>
		</div>
		<!-- TODO: add background in css -->

		<img id="branding" src="rb-logo.jpg" alt="Rack Busters Logo" />
		<p>Billiard &amp; Game Room Supplies</p>
		<!-- <p>For the Players</p> -->
		<p id="ship-promo">
			<strong>Free Shipping</strong> (on orders over $100)
		</p>

		<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
			<div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active"><a class="nav-link" href="#"></a></li>
				</ul>
			</div>

			<div class="mx-auto order-0">
				<a class="navbar-brand mx-auto" href="#"></a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
					<span class="navbar-toggler-icon"></span>
				</button>
			</div>
			<div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item"><a class="nav-link" href="#">Specials</a></li>
					<li class="nav-item"><a class="nav-link" href="#">About</a></li>
					<li class="nav-item"><a class="nav-link" href="#">Contact</a></li>
				</ul>
			</div>
		</nav>
	</header>

	<div class="container" id="mainBody">
		<div class="row mr-0 pr-0">
			<!-- Side Navigation -->
			<div id="sideNav" class="col-sm-5 col-md-3 col-lg-2 bg-dark">
				<div class="accordion" id="accordionExample">
					<div class="card bg-dark">
						<div class="card-header" id="headingOne">
							<h5 class="mb-0">
								<button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
									aria-expanded="true" aria-controls="collapseOne">
									Pool Cues
								</button>
							</h5>
						</div>

						<div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
							<div class="card-body bg-dark">
								<ul id="pool-cue-brands">
									<!-- TODO: need to add dynamic menu -->
									<!-- <li><a :href="link">{{ brand }}</a></li> -->
									<li><a href="">5280</a></li>
									<li><a href="">Action</a></li>
									<li><a href="">Athena</a></li>
									<li><a href="">Blade</a></li>
									<li><a href="">Cuetec</a></li>
									<li><a href="">Dufferin</a></li>
									<li><a href="">Elite</a></li>
									<li><a href="">Griffin</a></li>
									<li><a href="">Harley Davidson</a></li>
									<li><a href="">Joss</a></li>
									<li><a href="">Lucasi</a></li>
									<li><a href="">Mayhem</a></li>
									<li><a href="">McDermott</a></li>
									<li><a href="">McFarland</a></li>
									<li><a href="">Meucci</a></li>
									<li><a href="">Mezz</a></li>
									<li><a href="">Outlaw</a></li>
									<li><a href="">Peradon</a></li>
									<li><a href="">Riley</a></li>
									<li><a href="">Schon</a></li>
									<li><a href="">Scorpion</a></li>
									<li><a href="">Stealth</a></li>
									<li><a href="">Tiger</a></li>
									<li><a href="">Trouble Shooter Cues</a></li>
									<li><a href="">Valley (one-piece cues)</a></li>
									<li><a href="">Viking</a></li>
									<li><a href="">Voodoo</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="card bg-dark">
						<div class="card-header" id="headingTwo">
							<h5 class="mb-0">
								<button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo"
									aria-expanded="false" aria-controls="collapseTwo">
									Cue Cases
								</button>
							</h5>
						</div>
						<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
							<div class="card-body bg-dark">
								<ul>
									<li><a href="">Action</a></li>
									<li><a href="">Aramith</a></li>
									<li><a href="">Elite</a></li>
									<li><a href="">InStroke</a></li>
									<li><a href="">Outlaw</a></li>
									<li><a href="">Joe Porper</a></li>
									<li><a href="">Predator</a></li>
									<li><a href="">Scorpion</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="card bg-dark">
						<div class="card-header" id="headingThree">
							<h5 class="mb-0">
								<button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree"
									aria-expanded="false" aria-controls="collapseThree">
									Cue Accessories
								</button>
							</h5>
						</div>
						<div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
							<div class="card-body bg-dark">
								<ul>
									<li><a href="">Chalkers</a></li>
									<li><a href="">Cue Holders</a></li>
									<li><a href="">Joint Protectors</a></li>
									<li>
										<a href="">Shaft Products
											<!-- (care) --></a>
									</li>
									<li><a href="">Tips</a></li>
									<li><a href="">Tip Repair</a></li>
									<li><a href="">Tip Tools</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="card bg-dark">
						<div class="card-header" id="headingFour">
							<h5 class="mb-0">
								<button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseFour"
									aria-expanded="true" aria-controls="collapseFour">
									Table Accessories
								</button>
							</h5>
						</div>

						<div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
							<div class="card-body bg-dark">
								<ul>
									<li><a href="">Billiard Balls</a></li>
									<li><a href="">Billiard Gloves</a></li>
									<li><a href="">Bridge Heads</a></li>
									<li><a href="">Cue Balls</a></li>
									<!-- DISCONTINUED ??? -->
									<!-- <li><a href="">Cone Chalk Holders</a></li> -->
									<li><a href="">Chalk</a></li>
									<li><a href="">Pool Table Cloth</a></li>
									<li><a href="">Lighting</a></li>
									<li><a href="">Ball Racks</a></li>
									<li><a href="">Brushes</a></li>
									<li><a href="">Table Covers</a></li>
									<li><a href="">Parts &amp; Repair</a></li>
									<li><a href="">Table Cleaning</a></li>
									<li><a href="">Wall Racks</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="card bg-dark">
						<div class="card-header" id="headingFive">
							<h5 class="mb-0">
								<button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive"
									aria-expanded="false" aria-controls="collapseFive">
									Training Aids
								</button>
							</h5>
						</div>
						<div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
							<div class="card-body  bg-dark">
								<ul>
									<li><a href="">Books</a></li>
									<li><a href="">CD's</a></li>
									<li><a href="">DVD's</a></li>
									<li><a href="">Tools*</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="card bg-dark">
						<div class="card-header" id="headingSix">
							<h5 class="mb-0">
								<button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSix"
									aria-expanded="false" aria-controls="collapseSix">
									Game Room
								</button>
							</h5>
						</div>
						<div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
							<div class="card-body bg-dark">
								<ul>
									<li><a href="">Ball Cleaning Machine</a></li>
									<li><a href="">Ball Cleaner</a></li>
									<li><a href="">Coin Holders</a></li>
									<li><a href="">Display Cases</a></li>
									<li><a href="">Floor Racks</a></li>
									<li><a href="">Furniture</a></li>
									<li><a href="">Novelty</a></li>
									<li><a href="">Ping Pong</a></li>
									<li><a href="">Poker</a></li>
								</ul>
							</div>
						</div>
					</div>

					<!--  -->
					<div class="card bg-dark">
						<div class="card-header" id="headingSeven">
							<h5 class="mb-0">
								<button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseSeven"
									aria-expanded="true" aria-controls="collapseSeven">
									Darts
								</button>
							</h5>
						</div>

						<div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordionExample">
							<div class="card-body bg-dark">Need to build nav</div>
						</div>
					</div>
					<div class="card bg-dark">
						<div class="card-header" id="headingEight">
							<h5 class="mb-0">
								<button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseEight"
									aria-expanded="false" aria-controls="collapseEight">
									Clothing
								</button>
							</h5>
						</div>
						<div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordionExample">
							<div class="card-body bg-dark">
								<ul>
									<li><a href=""></a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="card bg-dark">
						<div class="card-header" id="headingNine">
							<h5 class="mb-0">
								<button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseNine"
									aria-expanded="false" aria-controls="collapseNine">
									Links
								</button>
							</h5>
						</div>

						<div id="collapseThree" class="collapse" aria-labelledby="headingNine" data-parent="#accordionExample">
							<div class="card-body bg-dark">
								<ul>
									<li><a href=""></a></li>
									<li><a href=""></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<!--  -->
			</div>
			<!-- .col -->

			<!-- Main Content -->

			<div class="col-sm-7 col-md-9 col-lg-10">
				<div id="app">
					<a href="product.html">
						<p>{{ products[0].Parent_Sku }}</p>
					</a>
				</div>
				<div id="categories">
						<!-- TODO: -->
						<!-- // Adding Category Blocks in progress -->
						<div class="row">
							<div id="cues" class="category col-sm-6 col-md-4">
								<!-- <img :src="image" alt="Pool Cues" /> -->
								<span class="left"></span>
								<span class="right">
									<h3>{{ cues.title }}</h3>
									<button class="btn btn-danger">Shop Now</button>
								</span>
							</div>
							<div id="cases" class="category col-sm-6 col-md-4">
								<span class="left"></span>
								<span class="right">
									<h3>{{ cases.title }}</h3>
									<button class="btn btn-danger">Shop Now</button>
								</span>
							</div>
						<div class="category col-md-4">
							<span class="left"></span>
							<span class="right">
								<h3>{{ cueAcc.title }}</h3>
								<button class="btn btn-danger">Shop Now</button>
							</span>
						</div>
					</div>
					<!--.row-->

					<div class="row">
						<div class="category col-sm-6 col-md-4">
							<span class="left"></span>
							<span class="right">
								<h3>{{ tableAcc.title }}</h3>
								<button class="btn btn-danger">Shop Now</button>
							</span>
						</div>
						<div class="category col-md-4">
							<span class="left"></span>
							<span class="right">
								<h3>{{ balls.title }}</h3>
								<button class="btn btn-danger">Shop Now</button>
							</span>
						</div>
						<div class="category col-md-4">
							<span class="left"></span>
							<span class="right">
								<h3>{{ felt.title }}</h3>
								<button class="btn btn-danger">Shop Now</button>
							</span>
						</div>
					</div>
					<!-- .row -->

					<div class="row">
						<div class="category col-md-4">
							<span class="left"></span>
							<span class="right">
								<h3>{{ lights.title }}</h3>
								<button class="btn btn-danger">Shop Now</button>
							</span>
						</div>
						<div class="category col-md-4">
							<span class="left"></span>
							<span class="right">
								<h3>{{ training.title }}</h3>
								<button class="btn btn-danger">Shop Now</button>
							</span>
						</div>				
						<div class="category col-md-4">
							<span class="left"></span>
							<span class="right">
								<h3>{{ clothing.title }}</h3>
								<button class="btn btn-danger">Shop Now</button>
							</span>
						</div>
						</div>
					</div>
				</div>
				<!-- .row -->
			</div>
			<!-- .container -->
		</div>
		<div class="clear"></div>

		<!-- Todos -->
		<div id="todo-app">
			<h2>Todos:</h2>
			<ol>
				<li v-for="todo in todos">
					<label>
						<input type="checkbox" v-on:change="toggle(todo)" v-bind:checked="todo.done" />

						<del v-if="todo.done">
							{{ todo.text }}
						</del>
						<span v-else>
							{{ todo.text }}
						</span>
					</label>
				</li>
			</ol>
		</div>

		<!-- <div id="output"></div> -->

		<footer class="mb-0">
			<p>
				<a href="#">Specials</a> | <a href="#">About</a> |
				<a href="#">Contact</a>
			</p>
			<div id="brand-logos">
				<!-- add slider -->
				<img src="img/logos/PREDATOR.JPG" alt="Predator Pool Cues" />
				<img src="img/logos/VALLEY.JPG" alt="Valley Pool Cues" />
				<img src="img/logos/AMERICANA-HARLEY-DAVIDSON.JPG" alt="Harley Davidson pool cues" />
				<img src="img/logos/DEADSTOKE.JPG" alt="Deadstroke brand" />
				<img src="img/logos/GRIFFIN.JPG" alt="Griffin Pool Cues" />
				<img src="img/logos/MEUCCI.JPG" alt="Meucci pool cue brand" />
				<img src="img/logos/SCHON.JPG" alt="Schon Pool Cues" />
				<img src="img/logos/VIKING.JPG" alt="Viking pool cues" />
			</div>
			<p>&copy;2019 RackBusters Billiards</p>
		</footer>
		<!-- <script src="js/functions.js"></script> -->
		<!-- scripts -->
		<script src="js/jquery-3.3.1.js"></script>
		<!-- will be using vue-bs -->
		<script src="js/bootstrap.min.js"></script>
		<!-- Vanilla app -->
		<script src="js/app.js"></script>
		<!-- Vue apps -->
		<!-- <script src="js/products.js"></script> -->
</body>

</html>